ul,a{
    text-decoration: none;    
    color:rgb(87, 78, 78);
    
    
    }
    header{
        display:flex;
        justify-content:center;
        
        
    
    }
    
    .nav{
        list-style: none;
    }
    .nav, ul{
        display:inline-block;
        padding:0px 20px;
    
        
    }
    .nav ul a:hover{
        color:brown;
    }
    .container{
      position: relative;
      text-align: center;
      color: black;
    }
    .commit{
      position: absolute;
      top: 50%;
      left: 43%;
   
     }
     .par1{
      width: 60%;
      background-color: rgb(122, 118, 118);
      color: rgb(1, 1, 1);
      position: absolute;
      top:57%;
      left:39%;
      font-size: 20px; 
      
     }
     caption{
      font-size: 30px;
      font-family: 'Spicy Rice';
      color: black;
     }



    table {
        border-collapse: collapse;
        width: 90%;
        margin-right: auto;
        margin-left:auto;
        background-color: rgb(189, 180, 168);
      }
      table,
      td,
      th {
        border: 3px solid rgb(133, 128, 128);
        color: white;
        text-align: center;
      }
      td:hover{
        background-color: rgb(12, 10, 10);
      }
      h1{
        text-align: center;
        font-family: 'Spicy Rice';
        font-size: '30px';
      }
  
      img.balls{
        width: 100px;
      }
      .bully{
        width:200px;
      }
      .kong{
        width:150px;
      }
      .tug{
        width:150px;
      }
      .grey{
        width:100%;
      }

      