
*{
    background-color: rgb(255, 255, 255);
}

ul,a{
    text-decoration: none;    
    color:rgb(87, 78, 78);
    
    
    }
    header{
        display:flex;
        justify-content:center;
        /* align-items: center; */
        
    
    }
    
    .nav{
        list-style: none;
    }
    .nav, ul{
        display:inline-block;
        padding:0px 20px;
    
        
    }
    .nav ul a:hover{
        color:brown;
    }
    table {
        border-collapse: collapse;
        width: 70%;
        margin-right: auto;
        margin-left:auto;
      }
      table,
      td,
      th {
        border: 3px solid rgb(0, 0, 0);
        color: rgb(0, 0, 0);
        text-align: center;
      }
      caption{
        font-size: 30px;
        font-family: 'Spicy Rice';
        color: black;
      }
      .akc{
        border-radius: 10%;
        width: 150px;
        height: 150px;
        
    }
    h1{
        text-align: center;
    }
    .embark{
        border-radius: 10%;
        width: 150px;
        height: 150px;
        
    }
    .hills{
        border-radius: 10%;
        width: 150px;
        height: 150px;
    }
    .onlineres{
        display: flex;
        justify-content: space-evenly;

    }
    .item{
        color: rgb(0, 0, 0);
        font-family: 'Spicy Rice';
        font-size: 25px;
    }
    .eyes{
        display:block;
        width: 500px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }